body {
  padding: 1em 0;
  background-color: #fafafa;
  color: #181818;
  line-height: 2rem !important;
  font-family: "Merriweather Sans", sans-serif; }

h1, h3, h4, h5 {
  font-family: "Merriweather", sans-serif;
  word-spacing: -0.125em; }

h2 {
  font-weight: 300;
  color: #323232;
  font-family: "Merriweather Sans", sans-serif; }

body.night {
  background-color: #333; }
  body.night p, body.night div, body.night span, body.night a {
    color: #323232 !important; }
  body.night h1, body.night h2, body.night h3, body.night h4 {
    color: #e8e8e8 !important; }
  body.night a.button.black {
    background-color: #fff !important;
    color: #333 !important; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.8rem;
  font-weight: 400; }

.site-header {
  padding: 3.5rem 0; }
  .site-header .secondary.pointing.menu {
    border: 0; }

.post-title {
  padding: 0;
  margin: 0; }

.post-subtitle {
  margin: 0 0 25px 0;
  font-weight: 300; }

.masthead {
  padding: 5rem 0 4rem 0; }
  .masthead h1 {
    margin-bottom: 20px;
    font-weight: 400; }
  .masthead h2 {
    font-size: 1.6rem;
    line-height: 2.4rem; }

.work {
  float: left;
  width: 350px;
  margin-bottom: 35px; }

.work:after {
  content: '';
  display: block;
  clear: both; }

.page-text a, .page-text .ui.list .list > .item a.header, .page-text .ui.list > .item a.header {
  text-decoration: none;
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background-image: linear-gradient(to top, transparent, transparent 2px, #333333 2px, #333333 3px, transparent 3px); }
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-text a {
    background-image: linear-gradient(to top, transparent, transparent 2px, #333333 2px, #333333 2.5px, transparent 2.5px); } }
.page-text a:hover, .page-text a:focus {
  background-image: linear-gradient(to top, transparent, transparent 2px, #2e8b38 2px, #2e8b38 3px, transparent 3px); }
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .page-text a:hover, .page-text a:focus {
    background-image: linear-gradient(to top, transparent, transparent 2px, #2e8b38 2px, #2e8b38 2.5px, transparent 2.5px); } }
.page-text .author {
  font-style: italic; }
.page-text p {
  text-justify: inter-character; }

.footer {
  padding: 2.5rem 0; }
  .footer .slogan {
    font-size: 12px; }

.ui.text {
  font-size: 1.2rem; }
.ui .segment.centered.basic {
  margin: 0 auto; }
.ui .big.divider {
  margin: 2rem 0; }
.ui .label {
  font-weight: normal; }
.ui .secondary.pointing.menu .item {
  font-family: "Merriweather Sans", sans-serif; }

a:not(.button) {
  color: #666 !important;
  text-decoration: none; }
  a:not(.button) :hover {
    color: #666 !important;
    text-decoration: underline !important; }
  a:not(.button) .alightbox {
    display: block; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px 20px;
  font-size: 17.5px;
  border-left: 3px solid #323232;
  font-style: italic; }

.page-work img {
  margin-bottom: 1.5rem; }

.page-default .masthead {
  min-height: 400px; }
.page-default .ui.cards > .card, .page-defaultimg {
  border-radius: 0;
  border: 0 none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }
  .page-default .ui.cards > .card :only-child, .page-defaultimg :only-child {
    border-radius: 0 !important; }

.path-front .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px; }

.page-post .post-header {
  margin-bottom: 15px; }

img:not(.rgb), .ui.image, .image {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
  filter: grayscale(1); }

img.lb-image {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0); }

img:not(.rgb):hover, .ui.image:hover, .image:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  transition-property: filter;
  transition-duration: 1s; }

.portfolios {
  min-height: 360px; }

.author {
  color: #bbb; }
  .author span {
    color: #555; }
  .author.white {
    background: #FFF;
    border: 1px solid #f2f2f2;
    padding: 1.5rem; }

i:focus {
  border: 0 none;
  outline: 0 none; }

.menu.right a, .menu.right div {
  text-transform: uppercase !important;
  font-weight: 700 !important; }

.centered {
  text-align: center; }

ul, ol {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }
  ul li:before, ol li:before {
    content: "\0BB \020"; }

.menu.transition.visible {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: 0; }

.ohidden {
  display: none;
  visibility: hidden; }

pre.highlight {
  background: #181818;
  padding: 1rem;
  color: #FFF;
  border-radius: 4px; }

#menu.right.menu {
  height: 50px; }

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important; } }
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important; } }
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important; } }
.ui.menu.grid > .computer.only.row {
  padding: 0; }

.fullw {
  width: 100%;
  margin-top: 40px; }

.social i:hover {
  text-decoration: none !important; }
